<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>webux</title>
  <link rel="shortcut icon" href="http://webux.webtime.club/favicon.ico">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Italiana&amp;subset=latin">
  <link rel="stylesheet" href="/index.css" />
  <script src="//at.alicdn.com/t/font_433522_lb07np21jcahsemi.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
